<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email verification for account activation</title>
</head>
<body>
<div>Welcome <b th:text="${user.firstName}"></b>. This is a confirmation link sent to you after registering in
    ContactsApp. Your email needs to be verified
</div>

<a th:href="@{http://localhost:8080/user-management/verify-email/{email}(email=${user.getEmail()})}" target="_blank">
    Verify account</a>

</body>
</html>